.watch-page {}

.watch-page__content {
}

.watch-page__info {
  width: 100%;
}

.watch-page__title {
  margin: 16px 0;
  font-size: var(--font-size-large-title);
  line-height: var(--line-height-large-title);
}

.watch-page__metadata {
}

.watch-page__genres {
}

.watch-page__owerview {
  margin: 0;
  line-height: var(--line-height-body);
}
