@import '~normalize.css';

@import './fonts/index';
@import './root.scss';

:root {
  color-scheme: dark;
}

[data-js-focus-visible] :focus:not([data-focus-visible-added]) {
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--label-color-primary);
  font-size: var(--font-size-body);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.2px;
  background-color: var(--background-secondary);

  overflow-y: scroll;
  overflow-x: hidden;
}

.discover-page {}

.discover-page__row {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}
