:root {
  --container-max-width: 1200px;
  --button-size: 44px;
  --icon-size: 24px;
  --aspect-ratio-poster: calc(100% * 3/2);

  --background-primary: rgba(0, 0, 0, 1);
  --background-secondary: rgba(30, 30, 30, 1);
  --background-secondary-rgb: 30, 30, 30;
  --background-tertiary: rgba(40, 40, 40, 1);
  --background-quartinerary: rgba(40, 40, 40, 0.6);

  --label-color-primary: rgba(223, 222, 223, 1);
  --label-color-secondary: rgba(235, 235, 245, 0.6);
  --label-color-tertiary: rgba(235, 235, 245, 0.3);
  --label-color-quartinerary: rgba(235, 235, 245, 0.18);

  --system-red: #e50914;
  --system-red-rgb: 229, 9, 20;

  --breakpoints-small: 420px;
  --breakpoints-medium: 768;
  --breakpoints-large: 992;
  --breakpoints-extra-large: 1200;
}

// FONT
:root {
  --font-size-large-title: 26px;
  --font-size-title-1: 22px;
  --font-size-title-2: 17px;
  --font-size-title-3: 15px;
  --font-size-headline: 14px;
  --font-size-body: 14px;
  --font-size-caption: 12px;

  --line-height-large-title: 32px;
  --line-height-title-1: 26px;
  --line-height-title-2: 22px;
  --line-height-title-3: 20px;
  --line-height-headline: 16px;
  --line-height-body: 16px;
  --line-height-caption: 15px;
  
  --font-weight-large-title: bold;
  --font-weight-title-1: bold;
  --font-weight-title-2: bold;
  --font-weight-title-3: bold;
  --font-weight-headline: bold;
  --font-weight-body: normal;
  --font-weight-caption: normal;
}
