:root {
  --container-max-width: 1200px;
  --button-size: 44px;

  --background-primary: rgba(30, 30, 30, 1);
  --background-secondary: rgba(40, 40, 40, 1);
  --background-tertiary: rgba(40, 40, 40, 0.6);

  --label-color-primary: rgba(223, 222, 223, 1);
  --label-color-secondary: rgba(235, 235, 245, 0.6);
  --label-color-tertiary: rgba(235, 235, 245, 0.3);
  --label-color-quartinerary: rgba(235, 235, 245, 0.18);

  --system-red: #FF453A;
}
