@import 'src/styles/utils/extends';
@import 'src/styles/utils/mixins';
@import 'src/styles/utils/functions';
@import 'src/styles/utils/variables';

.card {
  display: block;
  text-decoration: none;
  overflow: hidden;
  outline: none;
  
  &[data-focus-visible-added] {
    position: relative;
    z-index: 100;
    box-shadow: 0 0 0 4px var(--system-red);
  }
}

.card__container {
  position: relative;
  width: 100%;  
  
  overflow: hidden;
}

.card__poster {
  position: relative;
  padding-top: var(--aspect-ratio-poster);
  background-color: var(--background-tertiary);

  img {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;

    .card:hover & {
      filter: brightness(0.8);
    }
  }
}

.card__footer {
  display: grid;
  grid-auto-flow: row;
  row-gap: 2px;
  margin-top: 6px;
  text-align: center;
}

.card__title {
  @extend .text-ellipsis;
  
  margin: 0;
  color: var(--label-color-primary);
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);

  &:hover {
    text-decoration: underline;  
  }
}

.card__release-year {
  margin: 0;
  color: var(--label-color-secondary);
}

.card__vote-rating {
  position: absolute;
  top: 10px;
  left: 10px;
  margin: 0;
  padding: 6px 12px;

  color: var(--label-color-primary);
  background-color: var(--background-primary);
  border: 1px solid var(--label-color-tertiary);
}
