.container {
  margin: 0 auto;
  padding: 0 var(--button-size);
  max-width: var(--container-max-width);
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reset-button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
