@import 'src/styles/utils/extends';
@import 'src/styles/utils/mixins';

.page {
  padding-top: var(--button-size);
}

.page__sub-header {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;

  padding: 20px 0;
}

.page__content {
}

