@import 'src/styles/utils/extends';
@import 'src/styles/utils/mixins';
@import 'src/styles/utils/functions';
@import 'src/styles/utils/variables';

.card-grid {
}

.card-grid__list {
  @extend .reset-list;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  
  @media (min-width: getBreakpoint(small)) {
    grid-template-columns: repeat(3, 1fr);
  }
  
  @media (min-width: getBreakpoint(medium)) {
    grid-template-columns: repeat(4, 1fr);
  }
  
  @media (min-width: getBreakpoint(large)) {
    grid-template-columns: repeat(5, 1fr);
  }
}
