@import 'src/styles/utils/extends';
@import 'src/styles/utils/mixins';

.app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  display: flex;
  background-color: var(--background-primary);
}

.app-header__container {
  @extend .container;

  flex: 1;
}

.app-header__list {
  @extend .reset-list;

  display: flex;
}

.app-header__item {
  margin-right: 10px;

  &:first-child {
    margin-left: -10px;

    .app-header__link {
      &:not(.active) {
        &:hover .icon {
          filter: grayscale(1) brightness(2.2);
        }

        .icon {
          filter: grayscale(1) brightness(1.5);
        }
      }
    }
  }

  &:last-child {
    margin-right: -10px;
    margin-left: auto;
  }
}

.app-header__link {
  display: flex;
  align-items: center;
  justify-content: center;
  
  min-width: var(--button-size);
  height: var(--button-size);
  padding: 0 10px;

  color: var(--label-color-secondary);
  text-decoration: none;

  border-radius: 8px;
  outline: none;
  
  &:hover {
    color: var(--label-color-primary);
  }
  
  &[data-focus-visible-added] {
    box-shadow: inset 0 0 0 4px rgba(var(--system-red-rgb), 0.8);
  }

  &.active {
    color: var(--system-red);
  }
}

.app-header__icon-logo {
  width: 66px;
}
